.toDo {
  width: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 746px) {
  .toDo {
    width: 100vw;
    padding: 0 0.5rem;
  }
}

.toDoForm {
  height: 54px;
  width: 100%;
  margin-top: -27px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.toDoForm input {
  background: var(--gray-500);
  height: 100%;
  width: 39.875rem;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
}

.toDoForm button {
  background: var(--blue-500);
  font-size: 0.875rem;
  color: var(--gray-100);
  border: 1px solid var(--blue-500);
  border-radius: 8px;
  height: 100%;
  width: 5.625rem;
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  transition: color 0.1s;
}

.toDoForm button:hover {
  background: var(--blue-300);
  cursor: pointer;
}

.taskGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.createdTasks {
  width: auto;
  color: var(--blue-300);
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.createdTasks span{
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
  border: 1px solid var(--gray-400);
  border-radius: 50%;
  padding: 0.125rem 0.5rem;
}

.finishedTasks {
  width: auto;
  color: var(--purple-300);
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.finishedTasks div{
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
  border: 1px solid var(--gray-400);
  border-radius: 999px;
  padding: 0.125rem 0.5rem;

  display: flex;
  justify-content: space-evenly;
}

.noTask {
  width: 100%;
  height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.noTask div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskList {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}